################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/min-quotation-takaful/.vs/min-quotation-takaful/FileContentIndex
